{% load static %}

<!doctype html>
<html lang="pl">

    <head>
        <meta charset="ISO-8859-2">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- JS -->
        <script src="{% static 'js/calculateSizeOfPosition.js' %}"></script>


        <title> Market Stock Calculator </title>

        <meta name="description" content="stock market position calculator">
        <meta name="keywords" content="stock market position calculator">
        <meta name="author" content="esp0x309">

    <head>
    <body>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        <div class="container">
            <div class="jumbotron text-center">
  			    <h1>Stock Market Calc</h1>
  			    <p>Calculate position size<p> 
		    </div>
        {% block content %}

        replace me

        {% endblock %}
        </div>
    </body>
</html>
