{% extends 'stockMarketCalc/base.html' %}


{% block content %}

				
			<div class="row justify-content-center">				
				<div class="col-sm-4">

					<fieldset class="form-group border p-3">
						<legend>Basic informations:</legend>
						<!-- 1st row CAPITAL -->
						<label for="CapitalFormControlInput1">Capital:</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Capital" id="capital" step="0.01">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>
						<!-- 2nd row RISK -->

						<label for="CapitalFormControlInput1">Risk</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="%" id="risk_percent" value="2" step="1">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">%</span>
							</div>
							<input type="number" class="form-control" placeholder="money" id="risk_money" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>

						<!-- 3rd row  RISK/REWARD -->
						<label for="CapitalFormControlInput1">Risk/Reward</label>
						<div class="input-group">
						<div class="input-group-prepend">
						</div>
						<input type="number" class="form-control" placeholder="RISK" id="risk" value="1" readonly>
						<input type="number" class="form-control" placeholder="REWARD" id="reward" value="3">
						</div>
					</fieldset>
				</div>
			</div>

			
			<!-- 4rd row PRICE -->
			<div class="row justify-content-center">
				<div class="col-sm-4">
					<fieldset class="form-group border p-3">
						<legend>Position:</legend>
						<label for="CapitalFormControlInput1">Price:</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="buy price" id="price" value="12">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>

						<!-- 5rd TP -->
						<label for="CapitalFormControlInput1">TP</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="TP price" id="tp_money" value="16">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
							<input type="number" class="form-control" placeholder="%" id="tp_percent" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">%</span>
							</div>
						</div>
						<!-- 6rd SL -->
						<label for="CapitalFormControlInput1">SL</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="SL price" id="sl_money" value="10">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
							<input type="number" class="form-control" placeholder="%" id="sl_percent" readonly step="0.01">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">%</span>
							</div>
						</div>
					</fieldset>		  	
				</div>	
			</div>


						<!-- 4rd row PRICE -->
			<div class="row justify-content-center">
				<div class="col-sm-4">
					<fieldset class="form-group border p-3">
						<legend>Calculations:</legend>
						<label for="CapitalFormControlInput1">Amount to buy:</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="amount" id="amount" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">qty</span>
							</div>
							<input type="number" class="form-control" placeholder="amount money" id="amount_money" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>
						<!-- 5rd SL -->
						<label for="CapitalFormControlInput1">Max. loss</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="$$" id="max_loss" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>
						<!-- 5rd TP -->
						<label for="CapitalFormControlInput1">Max. profit</label>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="$$" id="max_profit" readonly>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">$$</span>
							</div>
						</div>
					</fieldset>		  	
				</div>	
			</div>
		

{% endblock %}
